* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.clock-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.clock {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100%;
}
.needle {
    background-color: #000;
    width: 3px;
    height: 65px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin: bottom center; 
    transition: all 0.5s ease-in;
}
.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 95px;
    width: 2px;
}
.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 95px;
    width: 2px;
    background-color: #ff1111;
}
.center-point {
    background-color: #ff1111;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
}
.time {
    font-size: 42px;
}
.date {
    font-size: 13px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: rgb(109, 91, 91);
}