* {
    box-sizing: border-box;
}
body {
    background-color: #735d78;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.phone {
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    height: 550px;
    width: 390px;
}
.phone .content {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    transition: opasity 0.4s ease;
    height: 100%;
}
.phone .content.show {
    opacity: 1;
    z-index: 1;
}
#mainImg {
    background-size: cover;
    height: 100%;
    width: 100%;
}
.camera {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #333;
    z-index: 2;
    left: 50%;
    top: 10px;
}
.smallCamera {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgb(146, 144, 144);
    z-index: 3;
    left: 50.5%;
    top: 13px;
}
nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}
.btnIcons {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}

/* flags game */
#game {
    background-color: #00296b;
}

.empty-container{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background-color: #f1faee;
    padding: 30px;
    border-radius: 10px;
    width: 390px;
}

.image-container{
    width: 120px;
    height: 120px;
    border-radius: 6px;
    display: inline-block;
    margin: 0 10px 10px 25px;
    box-shadow: 3px 3px #457b9d, -1em 0 .4em #457b9d;
    
}
.image-container img {
    border-radius: 6px;
    width: 120px;
    height: 120px; 
}
.empty {
    background-color: transparent;
    border: solid 2px rgba(153, 224, 221, 0.685);
    width: 60px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    margin-top: 80px;
    margin-left: -59px;
    display: inline-block;
}

.empty.wrong {
    background-color: rgba(209, 34, 34, 0.473);
    border-color: rgb(209, 34, 34, 0.473);
}
.empty.correct {
    background-color: rgba(90, 209, 34, 0.473);
    border-color: rgb(90, 209, 34, 0.473);
}
.fill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1faee;
    left: 40%;
    margin-top: 5px;
    padding: 7px;
    border-radius: 10px;
}
.fill {
    background-color: #ffe5d9;
    width: 55px;
    height: 35px;
    margin: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px #457b9d4d;
    display: inline-block;
}
.fill img {
    border-radius: 6px;
    display: inline-block;
    width: 55px;
    height: 35px;
    cursor: pointer;
}
.hold{
    border: solid 5px #ccc;
}
.hovered {
    background-color: #333;
    border-color: white;
}
.description {
    display: none;
}
.description.read {
    display: inline-block;
    position: absolute;
    background-color: rgba(19, 17, 17, 0.253);
    color: #fff;
    font-size: 12px;
    margin: 0 4px 4px 5px;
    border-radius: 5px;
    margin-left: -115px;
    animation: appear 3s ease 1;
}
@keyframes appear {
    from {opacity: 0;}
    to{height: 0.4;}
}
h3 {
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* clock */

.clock-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    margin: 10px;
}
.clock {
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 100%;
    background: linear-gradient(#c0fdff, #d0d1ff);
}
.needle {
    background-color: #000;
    width: 3px;
    height: 45px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin: bottom center; 
    transition: all 0.5s ease-in;
}
.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 65px;
    width: 2px;
}
.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 65px;
    width: 1px;
    background-color: #ff1111;
}
.center-point {
    background-color: #ff1111;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
}
.time {
    font-size: 32px;
}
.date {
    font-size: 10px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: rgb(54, 50, 50);
}
.twelve {
    position: relative;
    left: 46%;
    top: 5px;
}
.three {
    position: relative;
    left: 77%;
    top: 45%;
}
.six {
    position: relative;
    left: 25%;
    top: 85%;
}
.nine {
    position: relative;
    left: -27%;
    top: 44%;
}
span {
    font-family: 'Long Cang', cursive;
    color: rgba(69, 78, 78, 0.596);
}

/* canvas drawing */

canvas {
    border: 2px solid #b68973;
    background-color: #fff;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5);
    width: 350px;
    margin-top: 23px;
    position: absolute;
    left: 5%;
    border-radius: 5px 5px 0 0;
}
.toolbox {
    border: 1px solid #b68973;
    background-color: #b68973;
    width: 350px;
    padding: 1rem;
    display: flex;
    border-radius: 0 0 10px 10px;
    position: absolute;
    margin-top: 373px;
    left: 5%;
}
.toolboxEl {
    background-color: #faf3e0;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    margin: 0.25rem;
    border-radius: 2px;
}
.toolboxEl:focus {
    outline: none;
}
.toolboxEl:hover {
    background-color: #f0e3c1;
}
#clear {
    background-color: transparent;
    margin-left: auto;
}
#size {
    background-color: transparent;
    color: #fff;
    cursor: none;
}


