#container {
	width: 400px;
	height: 400px;
	background: blue;
	position: relative;
}

#box {
	width: 50px;
	height: 50px;
	position: absolute;
	content: url('images/dino.svg');
	background-color: transparent;
}

#boxtwo {
	width: 50px;
	height: 50px;
	background: black;
	position: absolute;
	bottom: 25px;
    right: 25px;
}

#boxthree {
	width: 100px;
	height: 100px;
	background: white;
	position: absolute;
	bottom: 150px;
    right: 150px;
}
 
.yellow {
	background-color: yellow;
  }
  #sphere {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	font-size: 500%;
	position: absolute;
	bottom: 25px;
    right: 25px;
	box-shadow: inset -3px -3px 5px #000, 3px 3px 6px white, inset 0px 0px 5px black;
	display: inline-block;
	margin: 5%; 
}